.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }

.single-chart {
    width: 33%;
    justify-content: space-around ;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
}

.circle-bg.main {
    stroke-width: 3.8;
}

.circle-bg.left .circle-bg.right {
    stroke-width: 2.53;
}

.circle {
    fill: none;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

.circle.main {
    stroke-width: 2.8;
}

.circle.left .circle.right {
    stroke-width: 1.866;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.left .circle {
    stroke: #ff9f00;
}

.circular-chart.main .circle {
    stroke: var(--lila);
}

.circular-chart.right .circle {
    stroke: #3c9ee5;
}

.percentage {
    fill: var(--black);
    font-size: 0.4em;
    text-anchor: middle;
}

.subtitle {
    display: block;
    text-align: center;
    font-size: 16px;
    color: var(--black);
}

.subtitle.main {
    font-size: 22px;
}