.circle {
    position: relative;
    transform: rotate(-90deg);
}

.circle-container {
    max-width: 1400px;
    display: flex;  /* Using Flexbox */
    justify-content: space-between;  /* Distribute the space equally between the circles */
    align-items: center;  /* Vertically center the circles */
    margin: 0 auto;  /* Center the container horizontally */
}

.jarode-items-percent {
    margin: 0 20px;  /* Add some margin for extra spacing */
}

.score-rectangle {
    background-color: var(--white-rosa);  /* Close to the background color */
    padding: 20px;
    border-radius: 8px;  /* Smoother corners */
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);  /* Very subtle shadow */
    transition: all 0.3s ease-in-out;  /* Smooth transition for all changes */
}



.score-rectangle:hover {
    transform: translateY(-5px);  /* Moves the box up when hovered
    animation: friendlyHover 0.3s ease-in-out;  /* Applies the shake animation */
}


.tooltip {
    position: absolute;
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
    border-color: "black";
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.7);
    bottom: 67.5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--rosa);
}

.tooltip::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose {
    margin: 0 30px;
}