.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--white);
    padding-bottom: 15px;
    z-index: 100;
}

.footer-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Adjust the spacing between items */
    align-items: center;
}

.footer-logo, .footer-menu, .footer-copyright {
    text-align: center; /* Centers the content of each flex item */
}

.footer-menu ul {
    display: flex;
    justify-content: center; /* Centers the menu items */
    padding: 0;
    margin: 0;
    width: 100%; /* Ensures the ul takes up the full width of its parent */
}

.footer-menu li {
    margin: 0 10px; /* Adjust the spacing between menu items */
}

.footer-logo img {
    max-width: 50px;
    vertical-align: middle;
}


.footer-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-menu li {
    margin-right: 20px;
}

.footer-copyright {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .footer {
        font-size: smaller;
    }
    .footer-logo img {
        max-width: 35px;
    }
}
