:root {
    --lila: #7E20FC;
    --rosa: #AA6BFD;
    --white: #FFFFFF;
    --red: Red;
    --black: Black;
    --white-rosa: #FBF9FE;
    --light-rosa: #ECDFFE;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

html * {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

::selection {
    background: var(--lila);
    color: var(--white) !important;
}

/*
---------------------------------------------
element styles
---------------------------------------------
*/

button {
    border-radius: 20px;
    background-color: transparent;
    width: fit-content;
    padding: 0px 4px 0px 4px;
    transform: scale(1.2);
    border: solid 3px var(--rosa);
    font-size: min(18px, 4.5vw);
    font-weight: 400;
    cursor: pointer;
}

form {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
  
input[type="file"],
input[type="text"],
input[type="submit"] {
margin: 10px 0;
}


audio {
    margin: auto;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 0;
    display: block;  
}

blockquote {
    word-break: break-all;
    padding-left: 1em;
}
