/* BIN ICON */
#bin-icon {
    position: absolute;
    width: 28px; 
    height: 28px;
}

#bin-icon.inactive {
    pointer-events:none;
    opacity: 0;
    transition: opacity 0.25s;
}

#bin-icon.active {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 2s;
}


/* TEXTAREA textarea */
.textarea-responsive {
    display: inline-block;
    resize: none;
    padding-left: 0.35em;
    padding-right: 0.2em;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    vertical-align: middle;
    border-radius: 25px;
    border: solid 4px var(--rosa);
    font-size: max(min(3vw, 50px), 30px);
    outline: none;
    height: 1.6em;
    overflow: hidden;
    white-space: break-spaces;
    font-family: "Montserrat";
    font-weight: 500;
}

.textarea-responsive:focus {
    box-shadow: -10px 5px 15px 0px #aa6bfd95, 10px -5px 15px 0px #5c50fe80;
}


.button-container {
    position: absolute; /* Absolute positioning on button container */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    overflow: visible;
}

.center-container {
    position: relative;
    text-align: center;
}

#record-button {
    /*background-color: #4CAF50; */
    background-color: var(--rosa);
    /* round glow outside */
    box-shadow: 10 10 10 10 var(--rosa);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    transition: top 1s;
    display: flex; /* This was missing */
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
}


.bin {
    color: grey;
    margin-left: 5px;
    position: absolute;
    top: 5px;
}

.canvas-visualizer {
    position: relative;
}

.audio-container {
    width: 85%;
    position: relative;
    max-width: 800px;
    height: 200px;
    margin: auto;
    overflow: visible;
    mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
}

.offscreen-canvas-class {
    position: absolute;
    transition: left 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#responsearea-scores {
    display: none;
    height: auto;
    white-space: normal;
    text-align: center;
    vertical-align: top;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color: var(--light-rosa);
    font-size: smaller;
}

#responsearea {
    display: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    vertical-align: middle;
    border-radius: 25px;
    border: solid 4px #aa6bfd;
    outline: none;
    height: auto;
    white-space: normal;
    text-align: left;
    vertical-align: top;
}

.response-word {
    font-size: max(min(1.5vw, 24px), 18px);
    font-family: "Montserrat";
    font-weight: 500;
    display: inline-block;
    margin-right: 5px;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center; /* Button needs margin left */
    height: 130px;
}

#replay-button {
    display: none;
    flex-shrink: 0;
    border-radius: 50%;
    border-color: var(--lila);
    width: 20px;
    height: 20px;

    /* Flexbox styles to center content */
    justify-content: center;
    align-items: center;
}

#replay-line {
    position: absolute;
    display: none;
    height: 130px;
    width: 2px;
    background-color: coral;
    z-index: 10;
}

.fa-play {
    margin-left: 2px;
}

.insertion-word {
    text-decoration: line-through;
    text-decoration-thickness: 0.15em; 
}

.waveform-word:hover {
    filter: brightness(0.7);
    cursor: pointer;
}

#right-button {
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    right: calc(50% - 155px);
    opacity: 0;
    
    transition: opacity 0.5s;
    border-radius: 10px;
    border: none;
    
    outline: solid 3px var(--rosa);
    background-color: transparent;
    padding: 3px 6px 3px 6px;
}


/* Language Dropdown */
.dropdown-container {
    max-width: 480px; /* Use max-width for flexibility */
    width: 100%; /* Full width on smaller screens */
    margin: 50px auto 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Adjustments for mobile screens */
@media screen and (max-width: 768px) {
    .dropdown-container {
        flex-direction: row; /* Stack elements vertically */
        margin-top: 0px; /* Reduce margin */
        justify-content: space-evenly;
        
    }

    .return-link {
        font-size: small;
    }
    /* Additional mobile-specific styles here */
    /* ... */
}


.return-link {
    display: inline-block; /* Allows box-like properties */
    padding: 10px 20px; /* Padding inside the box */
    background-color: var(--rosa); /* Background color */
    color: var(--white); /* Text color */
    text-align: center; /* Center text inside the box */
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
}

.return-link:hover {
    color: var(--white); /* Overwrite default behavior */
    filter: brightness(1.1); /* Add a bit of brightness */

}

.center-return-link {
    margin-top: 50px;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.inverted-svg {
    filter: invert(100%);
}

#stop-recording-icon {
    display: none;
}

#wait-recording-icon {
    display: none;
}


/* START glow on hover */
/*https://codepen.io/kocsten/pen/rggjXp*/

.glow-on-hover {
    width: 90%;
    height: 0;
    border: none;
    z-index: 0;
    outline: 1px solid var(--lila);
    background: var(--rosa);
    cursor: pointer;
    padding-bottom: 90%;
    border-radius: 50%;
    color: white;
    position: relative;
}

.glow-on-hover img {
    width: 60%;
    height: 60%;
}

.glow-on-hover i, .glow-on-hover img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glow-on-hover:before {
    content: '';
    /*background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);*/
    /*background: linear-gradient(45deg, yellow, red, MediumVioletRed, black); | IDEA FOR GERMANY FLAG BACKGROUND*/
    background: linear-gradient(45deg, var(--rosa), MediumVioletRed, var(--lila));
    overflow: visible;
    position: absolute;
    top: -3px;
    left: -3px;
    background-size: 300%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    animation: glowing 20s linear infinite;
    opacity: 0.7;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
}

.glow-on-hover:active:after {
    top: +2px;
    left: +2px;
    height: calc(100% - 4px);
}

.glow-on-hover:hover:before {
    opacity: 1;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    top: -6px;
    left: -6px;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--rosa);
    left: 0;
    top: 0;
    color: white;
    border-radius: 50%;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* Display errors */
.textarea-error-div {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding-top: 0.3em;
}

.textarea-empty-error {
    display: none;
    color: var(--red);
}

.generate-text-p {
    font-size: smaller;
    text-align: center;
}

.generate-text-link {
    color: var(--lila);
    text-decoration: underline;
    cursor: pointer;
}

.generate-text-link:hover {
    color: var(--rosa);
}

.data-privacy-disclaimer {
    text-align: center;
    font-size: x-small;
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-top: -30px;
}


/* START: AUDIO CONTROLS */
/*source: https://codepen.io/shahednasser/pen/XWgbGBN*/

.audio-player-container {
    --player-button-width: 3em;
    --space: .5em;
    width: 20rem;
    height: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.icon-container {
    width: 100%;
    height: 100%;
    background-color: var(--rosa);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-icon {
    width: 90%;
    height: 90%;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}

.player-button {
    background-color: transparent;
    border: 0;
    width: var(--player-button-width);
    height: var(--player-button-width);
    cursor: pointer;
    padding: 0;
}

.timeline {
    -webkit-appearance: none;
    width: calc(100% - (var(--player-button-width) + var(--space)));
    height: .5em;
    background-color: #e5e5e5;
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(var(--rosa), var(--rosa));
    background-repeat: no-repeat;
    margin-right: var(--space);
    display: none;
}

.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: var(--lila);
}

.timeline::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: var(--lila);
}

.timeline::-ms-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: var(--lila);
}

.timeline::-webkit-slider-thumb:hover {
    background-color: var(--lila);
}

.timeline:hover::-webkit-slider-thumb {
    opacity: 1;
}

.timeline::-moz-range-thumb:hover {
    background-color: var(--lila);
}

.timeline:hover::-moz-range-thumb {
    opacity: 1;
}

.timeline::-ms-thumb:hover {
    background-color: var(--lila);
}

.timeline:hover::-ms-thumb {
    opacity: 1;
}

.timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.timeline::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.timeline::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

#synth-text {
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inherit;
}

#synthesize-speech-button {
    position: absolute;
    background-color: var(--rosa);
    border-radius: 30px;
    width: 15rem;
}

.transition-move {
    transition: top 0.5s ease-in-out, height 0.5s ease-in-out;
}
  