
.center-container {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ECDFFE; /* Light Rosa */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}


.center-container-no-background {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}


.input-field {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input-field input {
    font-size: 16px;
    padding: 10px 5px;
    width: 38px; /* Adjust based on your preference */
    text-align: center;
    border: 1px solid #7E20FC; /* Lila */
    border-radius: 8px;
    background-color: #FFFFFF; /* White */
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #7E20FC; /* Lila */
    color: #FFFFFF; /* White */
    cursor: pointer;
    width: 150px;
}

.uppercase input[type="text"] {
    text-transform: uppercase;
    font-family: "Montserrat";
}

h2 {
    color: var(--lila);
    font-size: xx-large;
    margin-bottom: 20px; /* Spacing between title and form */
}

.study-confirmation {
    font-size: small;
    margin-top: 20px; /* Spacing between form and confirmation message */
    margin-bottom: 30px;
    text-align: left;
    padding: 0px 20px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .center-container {
        margin: 10px auto; /* Smaller margin for mobile */
        padding: 10px; /* Smaller padding for mobile */
    }

    .input-field {
        gap: 4px;
    }

    
    .input-field input {
        font-size: 16px;
        width: 32px; /* Smaller width for mobile */
        padding: 8px 2px; /* Smaller padding for mobile */
    }

    .submit-button {
        padding: 8px 15px; /* Smaller padding for mobile */
        width: 120px; /* Smaller width for mobile */
    }

    /* Add other mobile-specific style adjustments here */
}


.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 10px;
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
  }
  
  .label {
    color: var(--black);
  }
  
  .arrow-down {
    color: var(--black);
  }
  
  /* Optional: Add a hover effect for the dropdown */
  .dropdown:hover {
    background-color: var(--light-rosa);
  }
  