{% load i18n %}
{% load static %}

<header class="header">
    <nav class="navbar" style="background-color:var(--white);">
        <a href="/" class="nav-logo">
            <img src="{% static 'frontend/assets/images/AusspracheTrainerStudy-Uni-Tuebingen-Logo.png' %}" alt="AusspracheTrainer" style="max-width: 300px; width: 75%;">
        </a>
        <ul class="nav-menu">

            {% if user.is_authenticated %}
            <li class="nav-item">
                <p style="margin-bottom: 0rem;"><a href="{% url 'dashboard' %}">{% trans "Dashboard" %}</a></p>
                <!-- Also adopt the url style below-->
            </li>
            <li class="nav-item">
                <p style="margin-bottom: 0rem;"><a href="{% url 'learn' %}">{% trans "Lernen" %}</a></p>
                <!-- Also adopt the url style below-->

            </li>
            <li class="nav-item">
                <p class="nav-link"><a href="{% url 'logout' %}">{% trans "Logout" %}</a></p>
                <!-- maybe move to user account settings to prevent accidental logout -->
            </li>
            {% else %}
            <li class="nav-item">
                <p class="nav-link"><a href="{% url 'login' %}">{% trans "Login" %}</a></p>
            </li>
            {% endif %}

        </ul>
        <!--hamburger menu-->
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>