{% load i18n %}
{% load static %}

<header class="header">
    <nav class="navbar" style="background-color:var(--white);">
        <a href="/" class="nav-logo">
            <img src="{% static 'frontend/assets/images/AT-with-text.svg' %}" alt="AusspracheTrainer" style="max-width: 300px; width: 90%;">
        </a>
        <ul class="nav-menu">
            <li class="nav-item">
                <p style="margin-bottom: 0rem;">{% trans "Deutsch123" %}</p>
                <!--<a href="{\% url 'kontakt' \%}" class="nav-link">Kontakt</a>-->
            </li>
            <li class="nav-item">
                <div>
                    <select onchange="location = this.value; changeLanguage(this.value);">
                        {% get_available_languages as LANGUAGES %}
                        {% for lang_code, lang_name in LANGUAGES %}
                            <option value="/{{ lang_code }}/" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                                {{ lang_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                
            </li>
        </ul>
        <!--hamburger menu-->
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>