{% load i18n %}
{% load static %}

<header class="header">
    <nav class="navbar" style="background-color:var(--white);">
        <a href="/" class="nav-logo">
            <img src="{% static 'frontend/assets/images/AT-with-text.svg' %}" alt="AusspracheTrainer" style="max-width: 300px; width: 90%;">
        </a>
        <ul class="nav-menu">

            {% if user.is_authenticated %}
            <li class="nav-item">
                <p style="margin-bottom: 0rem;"><a href="{% url 'dashboard' %}">{% trans "Dashboard" %}</a></p>
                <!-- Also adopt the url style below-->
            </li>
            <li class="nav-item">
                <p style="margin-bottom: 0rem;">{% trans "Lernen" %}</p>
                <!-- Also adopt the url style below-->

            </li>
            <li class="nav-item">
                <p class="nav-link"><a href="{% url 'logout' %}">{% trans "Logout" %}</a></p>
                <!-- maybe move to user account settings to prevent accidental logout -->
            </li>
            {% else %}
            <li class="nav-item">
                <p class="nav-link"><a href="{% url 'login' %}">{% trans "Login" %}</a></p>
            </li>
            <li class="nav-item">
                <p class="nav-link"><a href="{% url 'register' %}">{% trans "Registrieren" %}</a></p>
            </li>
            {% endif %}

            <li class="nav-item">
                <div>
                    <select onchange="location = this.value; changeLanguage(this.value);">
                        {% get_available_languages as LANGUAGES %}
                        {% for lang_code, lang_name in LANGUAGES %}
                            <option value="/{{ lang_code }}/" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                                {{ lang_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                
            </li>
        </ul>
        <!--hamburger menu-->
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>