{% load static %}
{% load i18n %}

<html>
    <head>
        <title>{% trans "Passwort erfolgreich zurückgesetzt" %}</title>
        <link href={% static 'frontend/assets/css/auth.css' %} rel="stylesheet">
        <link href={% static 'frontend/assets/css/global-new.css' %} rel="stylesheet">
        <link href={% static 'frontend/assets/css/header.css' %} rel="stylesheet">
        <link href={% static 'frontend/assets/css/footer.css' %} rel="stylesheet">
    </head>
    <body>
        {% include 'module/header.html' %}
    
        <div class="auth-container margin-top-100px">
            <h1 class="auth-h1">{% trans "Passwort erfolgreich zurückgesetzt." %}</h1>
            <p>{% trans "Dein Passwort wurde erfolgreich geändert. Du kannst dich jetzt mit deinem neuen Passwort " %}<a href="{% url 'login' %}" class="auth-button">{% trans "einloggen" %}</a>.</p>
            
        </div>
    
        {% include 'module/footer.html' %}
    </body>
</html>
