{% load static %}
{% load i18n %}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% trans "Zurücksetzungslink versendet" %}</title>
        <link href={% static 'frontend/assets/css/auth.css' %} rel="stylesheet">
        <link href={% static 'frontend/assets/css/global.css' %} rel="stylesheet">
        <link href={% static 'frontend/assets/css/header.css' %} rel="stylesheet">
        <link href={% static 'frontend/assets/css/footer.css' %} rel="stylesheet">
        <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}" type="text/css">
        <link rel="icon" href="{% static 'frontend/assets/images/favicon.png' %}" type="image/png">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'module/header.html' %}
    
        <div class="auth-container margin-top-100px">
            <h1 class="auth-h1">{% trans "Zurücksetzungslink gesendet" %}</h1>
            <p>{% trans "Es wurde eine Email zum Zurücksetzen des Passworts an dich versendet." %}</p>
            <p>{% trans "Wenn du keine E-Mail erhalten hast, vergewissere dich bitte, dass du die korrekte Emailadresse eingegeben haben, mit der du dich registriert hast, und überprüfe deinen Spam-Ordner." %}</p>
        </div>
    
        {% include 'module/footer.html' %}
        <script src="{% static 'frontend/assets/js/base.js' %}"></script>
    </body>
</html>
