{% load static %}
{% load i18n %}

<html>
    <head>
        <title>{% trans "Passwort zurücksetzen" %}</title>
        <link href={% static 'frontend/assets/css/auth.css' %} rel="stylesheet">
        <link href={% static 'frontend/assets/css/global-new.css' %} rel="stylesheet">
        <link href={% static 'frontend/assets/css/header.css' %} rel="stylesheet">
        <link href={% static 'frontend/assets/css/footer.css' %} rel="stylesheet">
    </head>
    <body>
        {% include 'module/header.html' %}
    
        <div class="auth-container margin-top-100px">
            <h1 class="auth-h1">{% trans "Passwort zurücksetzen" %}</h1>
            <form method="post" class="auth">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                            <span class="error">{{ field.errors.0 }}</span>
                        {% endif %}
                    </p>
                {% endfor %}
                <button type="submit">{% trans "Passwort zurücksetzen" %}</button>
            </form>
        </div>
    
        {% include 'module/footer.html' %}
    </body>
</html>
