{% load i18n %}
{% load static %}

<div class="legal-container">
    <h1>{% trans "Impressum" %}</h1>
    <p>{% trans "AusspracheTrainer g.e.V." %}<br>
        {% trans "c/o Dr. Oliver Busch" %}<br>
        {% trans "Mühlgasse 8," %}<br>
        {% trans "60486 Frankfurt am Main" %}<br>
        <br>
        {% trans "E-Mail: kontakt@aussprachetrainer.org" %}<br>
        <br>
        {% trans "Ansprechpartner: Daniel Busch" %}<br>
        <br>
        
        {% trans "Registergericht: Amtsgericht Frankfurt am Main" %}<br>
        {% trans "Registernummer: VR 17083" %}
    </p>
</div>
