{% load static %}
{% load i18n %}
<form action="{% url 'initiate_analysis' %}" method="post" enctype="multipart/form-data" id="recordAudioForm">
    <div class="center-container">
        <!--Language Dropdown-->
        <div class="container">
            <span class="choose">{% trans "Sprache ändern" %}</span>
          
            <div class="dropdown">
                <div class="dropdown-select">
                    <span>{% trans "deutsch" %}
                        <img class="dropdown-flag" src={% static 'frontend/assets/images/Flag_of_Germany.svg' %} alt={% trans "deutsch" %} height=20 width=30>
                    </span>
                    <i class="fa fa-chevron-down"></i>
                </div>
                <input type="hidden" name="language">
                <ul class="dropdown-menu">
                    <li id="dropdown-lang-uk">
                        {% trans "englisch" %}
                        <img class="dropdown-flag" src={% static 'frontend/assets/images/Flag_of_the_United_Kingdom.svg' %} alt={% trans "englisch" %} height=24 width=36>
                    </li>
                    <li id="dropdown-lang-germany">
                        {% trans "deutsch" %}
                        <img class="dropdown-flag" src={% static 'frontend/assets/images/Flag_of_Germany.svg' %} alt={% trans "deutsch" %} height=24 width=36>
                    </li>
                    <li id="dropdown-lang-france">
                        {% trans "französisch" %}
                        <img class="dropdown-flag" src={% static 'frontend/assets/images/Flag_of_France.svg' %} alt={% trans "französisch" %} height=24 width=36>
                    </li>
                </ul>
            </div>

        </div>
        <br>

    </div>
    
    <div class="center-container">
        <textarea placeholder="Übungssatz" id="textarea" class="textarea-responsive" maxlength="300" autocapitalize="off"></textarea>
        <i class="fas fa-trash-alt bin" onclick="clearTextarea()"></i>
    </div>
    <br>

    <div class="center-container">
        <div id="responsearea"></div>
    </div>
    <br>
    <br>
    <div class="audio-container">
        <div class="button-container">
            <button class="round-button glow-on-hover" id="record-button">
                <img src="{% static 'frontend/assets/images/microphone.svg' %}" alt="microphone icon" height="55" width="55" class="inverted-svg" id="start-recording-icon">
                <i class="fa-solid fa-square fa-2x" id="stop-recording-icon"></i>
            </button>
            <button class="round-button" id="right-button">cancel</button>
        </div>
        <div class="flexbox" id="canvas-parent-container">
            <canvas id="visualizer" class="canvas-visualizer" width="800" height="130"></canvas>
            <button id="replay-button"><i class="fa-solid fa-play" id="replay-button-icon"></i></button>
            <div id="replay-line"></div>
        </div>
    </div>
    <input type="hidden" id="hiddenAudioData" name="audio_data">
    <input type="hidden" id="hiddenTextData" name="text_data">
    <input type="hidden" id="hiddenSelectedLanguage" name="selected_language" value="dropdown-lang-germany">
    {% csrf_token %}
</form>
<div id="result"></div>

<br>
<br>
<br>

<br>
<br>
<br>
<div id="resultDiv"></div>
IDEE: danach das offscreencanvas wie ein barcode aber seitwärts durchleuchten mit rotem laser,
und derweil die Audio analysiseren.

Dann geht der Button weg, die beiden Canvas werden ausgetauscht, canvas geht nach ganz rechts schnell 
ein laser baut sich auf und wird durchgescannt




<script src="{% static 'frontend/assets/js/record_audio.js' %}"></script>
<script src="{% static 'frontend/assets/js/audio_canvas.js' %}"></script>
<script src="{% static 'frontend/assets/js/backend.js' %}"></script>


  