{% load static %}
<div>
    <p align="center">
        <textarea placeholder="Übungssatz" id="textarea" class="textarea-responsive" maxlength="300" autocapitalize="off"></textarea>
            <i class="fas fa-trash-alt grey" onclick="clearTextarea()"></i>
        </p>
    </div>
</div>
<br>
<br>
<br>
<div class="audio-container">
    <div class="button-container">
        <button class="round-button" id="record-button">Click me!</button>
    </div>
    <canvas id="visualizer" width="800" height="100"></canvas>
</div>
 
<br>
<br>
<br>

<br>
<br>
<br>
IDEE: Wie beim Rekorder ein Koordinaten bzw. frequency System
aufmalen (rechts vom button) dass sich dann nach links bewegt, wenn
man aufnimmt. Dabei die Frequenz anzeigen.



<script src="{% static 'frontend/assets/js/record_audio.js' %}"></script>
<script src="{% static 'frontend/assets/js/audio_canvas.js' %}"></script>
