{% load static %}
{% load i18n %}
<div class="center-container">
    <h2 style="color: #7E20FC;">Login</h2> <!-- Lila color -->
    <div class="input-field uppercase">
        <input type="text" id="char1" maxlength="1" onkeydown="handleKey(event, 'char1', 'char2')">
        <input type="text" id="char2" maxlength="1" onkeydown="handleKey(event, 'char1', 'char3')">
        <input type="text" id="char3" maxlength="1" onkeydown="handleKey(event, 'char2', 'char4')">
        <input type="text" id="char4" maxlength="1" onkeydown="handleKey(event, 'char3', 'char5')">
        <div>_</div>
        <input type="text" id="char5" maxlength="1" onkeydown="handleKey(event, 'char4', 'char6')">
        <input type="text" id="char6" maxlength="1" onkeydown="handleKey(event, 'char5', 'char7')">
        <input type="text" id="char7" maxlength="1" onkeydown="handleKey(event, 'char6', 'char8')">
        <input type="text" id="char8" maxlength="1" onkeydown="handleKey(event, 'char7', 'study-checkbox')">
    </div>
    <div class="study-confirmation">
        <input type="checkbox" id="study-checkbox" name="studyAgreed" onkeydown="handleKey(event, 'char8', 'submit-button')">
        <label for="study-checkbox">Ich habe die Teilnehmendenaufklärung gelesen und verstanden.</label>
    </div>
    <button type="submit" class="submit-button" id="submit-button" onkeydown="handleKey(event, 'study-checkbox')">einloggen</button>      
</div>

<div class="center-container-no-background">
    <div class="dropdown-files-container">
        <div class="dropdown-files">
          <span class="line-files"></span>
          <span class="text-files">Weitere Informationen</span>
          <i class="fa fa-chevron-down dropdown-icon-files"></i>
          <span class="line-files"></span>
        </div>
      </div>
      
    <div class="additional-information">
        <div class="icon-container" id="icon-wrapper-addinfo">
            <div class="icon-wrapper" onclick="toggleText(1)">
              <i class="fas fa-user icon fa-sm"></i>
              <p>Schüler:innen & Eltern</p>
            </div>
            <div class="icon-wrapper" onclick="toggleText(2)">
              <i class="fas fa-chalkboard-teacher icon"></i>
              <p>Lehrer:innen</p>
            </div>
            <div class="icon-wrapper" onclick="toggleText(3)">
              <i class="fas fa-school icon"></i>
              <p>Schulen</p>
            </div>
          </div>
          <div id="infoText" class="info-text">
            <div id="additional-info1" class="text">
              <p>Als Schüler:in kannst du dich hier einloggen, um an der Studie teilzunehmen. Bitte gib deinen persönlichen Code ein, um fortzufahren.</p>
            </div>
            <div id="additional-info2" class="text inactive">
              <p>Als Lehrer:in kannst du dich hier einloggen, um die Studie zu verwalten. Bitte gib deinen persönlichen Code ein, um fortzufahren.</p>
            </div>
            <div id="additional-info3" class="text inactive">
              <p>Als Schule kannst du dich hier einloggen, um die Studie zu verwalten. Bitte gib deinen persönlichen Code ein, um fortzufahren.</p>
              <p>Als Schule kannst du dich hier einloggen, um die Studie zu verwalten. Bitte gib deinen persönlichen Code ein, um fortzufahren.</p>
              <p>Als Schule kannst du dich hier einloggen, um die Studie zu verwalten. Bitte gib deinen persönlichen Code ein, um fortzufahren.</p>
              <p>Als Schule kannst du dich hier einloggen, um die Studie zu verwalten. Bitte gib deinen persönlichen Code ein, um fortzufahren.</p>

            </div>


          </div>
          
    </div>
</div>
<script src="{% static 'frontend/assets/js/study_login.js' %}"></script>

