{% load static %}
{% load i18n %}
<div class="center-container">
    <h2 style="color: #7E20FC;">Login</h2> <!-- Lila color -->
    <div class="input-field uppercase">
        <input type="text" id="char1" maxlength="1" onkeydown="handleKey(event, 'char1', 'char2')">
        <input type="text" id="char2" maxlength="1" onkeydown="handleKey(event, 'char1', 'char3')">
        <input type="text" id="char3" maxlength="1" onkeydown="handleKey(event, 'char2', 'char4')">
        <input type="text" id="char4" maxlength="1" onkeydown="handleKey(event, 'char3', 'char5')">
        <div>_</div>
        <input type="text" id="char5" maxlength="1" onkeydown="handleKey(event, 'char4', 'char6')">
        <input type="text" id="char6" maxlength="1" onkeydown="handleKey(event, 'char5', 'char7')">
        <input type="text" id="char7" maxlength="1" onkeydown="handleKey(event, 'char6', 'char8')">
        <input type="text" id="char8" maxlength="1" onkeydown="handleKey(event, 'char7', 'study-checkbox')">
    </div>
    <div class="study-confirmation">
        <input type="checkbox" id="study-checkbox" name="studyAgreed" onkeydown="handleKey(event, 'char8', 'submit-button')">
        <label for="study-checkbox">Ich habe die Teilnehmendenaufklärung gelesen und verstanden.</label>
    </div>
    <button type="submit" class="submit-button" id="submit-button" onkeydown="handleKey(event, 'study-checkbox')">einloggen</button>      
</div>

<div class="center-container-no">


<div class="dropdown">
    <span class="label">Dateien</span>
    <span class="arrow-down">&#x25BC;</span>
  </div>

<script src="{% static 'frontend/assets/js/study_login.js' %}"></script>

