{% load static %}
{% load i18n %}

<div class="tutorial-container">
    <h2 class="tutorial-headline">{% trans "Anleitung" %}</h2>
    <ol class="tutorial-ol">
        <li>{% trans "Sprache auswählen (aus Deutsch, Englisch &amp; Französisch)" %}</li>
        <li>{% trans "Übungssatz eingeben oder generieren lassen" %}</li>
        <li>{% trans "Aufnahme starten durch den Rekorderbutton" %}</li>
        <li>{% trans "Satz laut und deutlich vorlesen" %}</li>
        <li>{% trans "Aufnahme beenden auf Ergebnis warten" %}</li>
    </ol>
</div>